---
- hosts: [all]
  become: true
  gather_facts: false

  vars_files:
    - var-secrets.yml

  tasks:
    - name: Nightly backup to Azure Storage"
      ansible.builtin.cron:
        name: "az-backup"
        minute: "30"
        hour: "1"
        job: "/home/foundry/backup"
        user: foundry
        disabled: true

    - name: Nightly compendium download from Azure Storage (prd)"
      ansible.builtin.cron:
        name: "az-dowload"
        minute: "00"
        hour: "1"
        job: "/home/foundry/compendium-content-refresh"
        user: foundry
        disabled: true
      when: inventory_hostname == 'prd.foundry.silentcatfart.com'  

    - name: Nightly compendium download from Azure Storage (dev)"
      ansible.builtin.cron:
        name: "az-dowload"
        minute: "00"
        hour: "1"
        job: "/home/foundry/compendium-content-refresh"
        user: foundry
        disabled: true
      when: inventory_hostname == 'dev.foundry.silentcatfart.com'
          